* {
    margin: 0;
    padding: 0;
}

.card3 {
    width: 100%;
    height: 150vh;
    background-color: black;
    overflow: hidden;
}

.card3Container {
    width: 50%;
    margin: 80px auto;
    background-color: white;
    overflow: hidden;
}

.addressInput {
    width: 85%;
    margin: 4% auto;
}
.addressInputTitle {
    font-size: 1.8rem;
    font-weight: bold;
}
.addressInputTitleSmall {
    font-size: 1.3rem;
}
.zipcode {
    width: 100%;
    height: 60px;
    margin-top: 2%;
    border-radius: 5px;
    cursor: text;
    font-size: 1.8rem;
    background-color: #FEFBCE;
    border: 1px solid #80BDFF;
    color: #495057;
}
.zipcode:hover {
}

.addressSelect {
    width: 85%;
    margin: 4% auto;
    margin-bottom: 50px;
}
.addressSelectTitle {
    font-size: 1.8rem;
    font-weight: bold;
}
.addressSelectFlex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.addressSelectLeft {
    width: 45%;
}
.addressSelectLeftBox {
    width: 100%;
    height: 60px;
    font-size: 1.8rem;
    border-radius: 5px;
}
.addressSelectRight {
    width: 45%;
}
.addressSelectRightBox {
    width: 100%;
    height: 60px;
    font-size: 1.8rem;
    border-radius: 5px;
}

.workArea {
    display: none;
    width: 85%;
    margin: 0 auto;
    border-top: 1px solid black;
}
.workAreaTitle {
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 545;
    color: #ED145B;
}
.workAreaInput {
    width: 100%;
    height: 60px;
    margin-top: 3%;
    border-radius: 5px;
    font-size: 1.5rem;
}

.checkBoxArea {
    width: 85%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    display: none;
}
.checkBoxText {
    font-size: 1.2rem;
}
.checkBoxContent {
    width: 60px;
}

.submitButtonArea {
    width: 85%;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.submitButton {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid black;
}